In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
df=pd.read_csv("mpg.csv")

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
mpg_data=df[['mpg','displacement','horsepower','weight']]
mpg_data

      mpg  displacement  horsepower  weight
0    18.0         307.0       130.0    3504
1    15.0         350.0       165.0    3693
2    18.0         318.0       150.0    3436
3    16.0         304.0       150.0    3433
4    17.0         302.0       140.0    3449
..    ...           ...         ...     ...
393  27.0         140.0        86.0    2790
394  44.0          97.0        52.0    2130
395  32.0         135.0        84.0    2295
396  28.0         120.0        79.0    2625
397  31.0         119.0        82.0    2720

[398 rows x 4 columns]

In [5]:
mpg_data.isna().sum()

mpg             0
displacement    0
horsepower      6
weight          0
dtype: int64

In [6]:
mpg_data.dropna(axis = 0, inplace=True)

D:\Users\V130\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
mpg_data.isna().sum()

mpg             0
displacement    0
horsepower      0
weight          0
dtype: int64

In [8]:
target=mpg_data['mpg']

features=mpg_data[['displacement','horsepower','weight']]

In [9]:
target.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [10]:
features.head()

   displacement  horsepower  weight
0         307.0       130.0    3504
1         350.0       165.0    3693
2         318.0       150.0    3436
3         304.0       150.0    3433
4         302.0       140.0    3449

In [11]:
x_train, x_test, y_train, y_test= train_test_split(features,target,test_size=0.2)

In [12]:
x_train.head()

     displacement  horsepower  weight
397         119.0        82.0    2720
337         107.0        72.0    2290
44          400.0       175.0    5140
165         262.0       110.0    3221
91          400.0       150.0    4464

In [13]:
y_train.head()

397    31.0
337    32.4
44     13.0
165    20.0
91     13.0
Name: mpg, dtype: float64

In [14]:
features.isna().sum()

displacement    0
horsepower      0
weight          0
dtype: int64

In [15]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
model.coef_

array([-0.00635407, -0.04311051, -0.00523679])

In [17]:
model.intercept_

44.88271201287537

In [18]:
pred = model.predict(x_test)
pred[:5]

array([17.25502079, 30.90367639, 17.89549992, 11.88436632, 27.45682966])

In [19]:
y_test[:5]

86     14.0
204    32.0
286    17.6
159    14.0
206    26.5
Name: mpg, dtype: float64

In [20]:
r2_score(y_test, pred)

0.7522919270864511

In [21]:
import pickle
fp=open('mpg_df.pk1','wb')
pickle.dump(model,fp)
fp.close()

In [35]:
import tkinter as tk
import PIL.Image
import PIL.ImageTk

with open('mpg_df.pk1', 'rb') as fp:
    model = pickle.load(fp)
    fp.close()
    
root=tk.Tk()
root.title('MPG Calculator')

canvas = tk.Canvas(root, height=500, width=600)
canvas.pack()


dis=tk.IntVar()
hpower=tk.IntVar()
weight=tk.IntVar()

def clear():
    dis.set('')
    hpower.set('')
    weight.set('')
clear()
l=tk.Label(root,text='MPG Calculator', bd=2)
l.config(bg='#3E3E43',fg='red', font=('Times', 20, 'bold'))
l.place(relx=0.5, rely=0.05, relwidth=0.5, relheight=0.1, anchor='n')

l1 = tk.Label(root, text="Displacement".center(20)+" : ")
l1.config(bg='#eeeeee', fg='green', font=('Courier', 18, 'bold'))
l1.place(relx=0.025, rely=0.6, relwidth=0.4, relheight=0.1)

e1 = tk.Entry(root,textvariable=dis,bg='#3E3E43',fg='#FFFFFF',font=('Courier', 18))
e1.place(relx=0.4, rely=0.6, relwidth=0.15, relheight=0.1)

l2 = tk.Label(root, text="Horse Power".center(20)+" : ")
l2.config(bg='#eeeeee', fg='green', font=('Courier', 18, 'bold'))
l2.place(relx=0.025, rely=0.7, relwidth=0.4, relheight=0.1)

e2 = tk.Entry(root,textvariable=hpower,bg='#3E3E43',fg='#FFFFFF',font=('Courier', 18))
e2.place(relx=0.4, rely=0.7, relwidth=0.15, relheight=0.1)

l3 = tk.Label(root, text="Weight".center(20)+" : ")
l3.config(bg='#eeeeee', fg='green', font=('Courier', 18, 'bold'))
l3.place(relx=0.025, rely=0.8, relwidth=0.4, relheight=0.1)

e3 = tk.Entry(root,textvariable=weight,bg='#3E3E43',fg='#FFFFFF',font=('Courier', 18))
e3.place(relx=0.4, rely=0.8, relwidth=0.15, relheight=0.1)

b1 = tk.Button(root, text='Generate MPG', command=lambda : predict())
b1.config(bg='red', fg='white', font=('Courier', 18, 'bold'))
b1.place(relx=0.58, rely=0.8, relwidth=0.4, relheight=0.1)

def predict():
    d = dis.get()
    hp = hpower.get()
    w = weight.get()
    features = [ [ d, hp, w ] ]
    clear()
    m = model.predict(features)[0]
    print("MPG of Car : ", m)
    win = tk.Toplevel(root)
    win.grab_set()
    text = f"""
    Displacement : {d}
    Horse Power  : {hp}
    Weight         : {w}
    MPG            : {m:.2f}
    """
    msg = tk.Message(win, text=text)
    msg.config(bg='white', fg='green', font=('monospace', 25, 'bold'))
    msg.pack(fill=tk.BOTH, expand=tk.YES)
    
    
    eb = tk.Button(win, text='Exit', command=lambda : win.destroy())
    eb.config(fg='red', bg='#123456', font=('monospace', 25, 'bold'),border=5)
    eb.pack(fill=tk.X, expand=tk.YES)
    eb.focus()
    
root.mainloop()

MPG of Car :  43.31197728165237